
@{
    ViewBag.Title = "LoginPage";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/css/ionicon/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/css/icheck/blue.css" rel="stylesheet" />
    <link href="~/Content/otomasyon/LoginPage.css" rel="stylesheet" />
    <script src="~/Scripts/Otomasyon/Otomasyon.js"></script>
</head>
<body>

    <div class="imgcontainer img-responsive">
        <img src="~/img/indir.jfif" alt="Avatar" class="avatar" />
    </div>
    <form action="/Home/LoginPage" method="post">
        <div class="card row"style="border:1px solid #CCCCCC; border-radius: 5px;">
            <div class="imgcontainer">
                <img src="~/img/images.jfif" alt="Avatar" class="avatar">
            </div>
            <div class="container">
                <label for="uname"><b>Kullanıcı Adı</b></label>
                <input type="text" placeholder="Kullanıcı Adı" name="username" required>
                <br /><br />
                <label for="psw"><b>Şifre</b></label>
                <input type="password" placeholder="Şifre" name="pw" required>
                <br />
                <button id="giris" type="submit" onclick="giris()">Giriş</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Kullanıcıyı Hatırla
                </label>
            </div>
            <span class="psw"> <a href="#">Şifreyi Unuttum?</a></span>
            <div class="container" style="background-color:#f1f1f1">
            </div>
        </div>
    </form>
</body>
</html>
